* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
        
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;  /*tira os pontinho da lista*/
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block; /*para poder arrumar altura e largura*/
    padding: 15px;
    text-decoration: none; /*tira decoraçao de texto*/
    text-transform: uppercase; /*todos maiusculo*/
    color: #727272;
}

nav .active a, 
nav a:hover {
    background-color: #39aae1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover; /*ajusta em diferentes resoluções*/
    

}

.column {
    flex-direction: column;
    height: 100%;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
}

.banner_headline h1 {
    font-size: 60px;
    color: white;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0px;
    width: 300px;
    
}

.banner_headline h2 {
    font-size: 19px;
    color: white;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0px;
    width: 300px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1 {
    background-color: #42b3e5;
}

.banner2 {
    background-color: #0384ce;
}

.banner3 {
    background-color: #3156a3;
}

.banner_titlle {
    flex: 1;
    font-size: 21px;
    padding: 5px;

}

.banner_desc {
    width: 250px;
    flex: 1;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.banner_options a {
    display: inline-block; /* acompanha legenda*/
    font-size: 12px;
    color: white;
    border: 1px solid white;
    flex: 1;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    
}

.legenda3 {
    padding: 15px;
    font-size: 12px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.legenda3 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid gray;
}

#geral {
    display: flex;
    justify-content: center;
    height: auto;

}

#geral section {
    flex: 2;
    
   
}

#geral aside {
    flex: 1;
    
    
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
    

}



.widget_titletext {
    color: black;
    font-size: 21px;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9ef;
    margin-top: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.box_blue {
    flex: 1;
    padding: 55px;
    background-color:#36a9ef;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center; 
}


.widget_title_bodytext {
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    
}


.contato img {
    width: 40px;
    height: 40px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    
}

.contatobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    
    
}

.contatoimg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contatotext {
    font-size: 12px;
    margin-left: 10px;
}

.widget_title_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    
}


.conteudo_data {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    
}

.conteudo_img {
    display: flex;
    height: 110px;
    width: 210px;
    margin-right: 20px;
}

.conteudo_dia {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 150px;
    margin-right: 20px;

    
}

.conteudo_dia_data {
    flex: 2;
    background-color: #3156a3;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 20px;
}

.conteudo_number {
    flex: 1;
    background-color: #42b3e5;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.conteudo_title {
    font-size: 25px;
    margin-top: 10px;
    padding-top: 10px ;
    margin-bottom: 10px;
}

.conteudo_text {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 260px;
}


.conteudo_link {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-right: 20px;
    font-size: 15px;

}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

footer {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    color: #FFFFFF;
    height: auto;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    
}

.fn_1, .fn_2, .fn_3 {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    
}

.fn_1 {
    background-color: #42b3e5;
    
}

.fn_2 {
    background-color: #0384ce;
    
}

.fn_3 {
    background-color: #3156a3;
    
}

.footer_menutitle {
    flex: 1;
    font-size: 25px;
    padding-bottom: 10px ;
}

.footer_menutext {
    flex: 1;
    font-size: 15px;
}

.footer_area {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.footer_area1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 10px;
}

.footer_are1title {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer_area1text {
    color: #505454;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer_area1text2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #505454;
}

.footer_area1text2 a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_area1text2 div {
    flex: 1;
}

.footer_areatext3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.f_at3row {
    display: flex;
    flex: 1;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: start;
    margin: 0;
    margin-top: 20px;
    font-size: 15px;
    
}

.div2 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.div2 a {
    text-decoration: none;
    color: #3156a3;
    font-size: 12px;
}

.menu_mobile {
    display: none;
}



@media (max-width:600px) {
    .banner {
        height: auto;
    }
    
    .banner_titlle {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 15;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 10px;
    }

    .conteudo_img {
        width: auto;
        height: 100px;
    }

    .container {
        flex-direction: column;
        margin: 20px;
        margin-bottom: 10px;
        height: auto;
    }

    #geral {
        display: flex;
        padding: 20px;
        margin-top: 10px;
        height: auto;
    }

    header .container {
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        flex-direction: row;
    }

    section .widget {
        height: auto;
        display: flex;
    }

    .conteudo_data { 
        
        justify-content: space-between;
    }


    header {
        display: flex;
        height: auto;
        flex-direction: row;
    }

    .menu ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        text-align: right;
       
    }

    header .container {
        margin: 20px;
        flex-direction: row;
    }

    .menu_mobile {
        display: flex;
        width: 40px;
        height: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: space-around;
        flex-direction: column;
    }

    .mm_line {
        height: 3px;
        background-color: #0384ce;
        
    }

}



